@media screen and (min-width:600px) and (max-width: 1024px) {
    .trapezoid{
      display: none;
  }
  .ready-img img{
    width: 500px;
}
.orders img{
    width: 500px;
}
.orders-1 img{
    width: 500px;
}
.framework img{
    width: 350px;
}

}



@media screen and ( min-width:280px) and (max-width: 600px) {
    .social-pages{
      display: none;
    }
    .trapezoid{
        display: none;
    }
    .top-left{
        display: none;
    }
     .ready-img img{
        width: 300px;
    }
    .orders img{
        width: 300px;
    }
    .orders-1 img{
        width: 300px;
    }
    .framework img{
        width: 300px;
    }
    
}
 
@media (min-width: 992px){
    .hitup-img img{
        width: 400px;
    }
}
.page-banner h1{
    color: white;
    text-align: center;
    padding-top: -10%;
    
}
.orders-1 img{
    width: 80%;
}
.details
{
   position: absolute;
   top: 80px;
   padding-top: 10%;
   padding-bottom: 10%;
}
.details-1{
   padding-top: 30%;
}